/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                /* Row 1 */
                &trans  &trans   &trans   &trans   &trans   &trans   &trans   &trans   &trans   &trans   &trans   &trans   &trans   &trans   &trans 
                /* Row 2 */
                &trans  &trans   &trans   &trans   &trans   &trans   &trans   &trans   &trans   &trans   &trans   &trans   &trans   &trans   &trans 
                /* Row 3 */
                &trans  &trans   &trans   &trans   &trans   &trans   &trans   &trans   &trans   &trans   &trans   &trans   &trans   &trans   &trans 
                /* Row 4 */
                &trans  &trans   &trans   &trans   &trans   &trans   &trans   &trans   &trans   &trans   &trans   &trans   &trans   &trans   &trans 
                /* Row 5 */
                &kp E 	&kp R 	&kp T	&kp Y  	&kp U  	&kp I	&kp O  &kp D 	&kp F 	&kp G	&kp H  	&kp J 	&kp K	&kp L &kp X 
            >;
        };
    };
};
