/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp Q   &kp W   &kp E   &kp R   &kp T   &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
                &kp A   &kp S   &kp D   &kp F   &kp G   &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
                &kp Z   &kp X   &kp C   &kp V   &kp B   &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
                &trans  &trans  &trans  &trans  &trans  &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
                &trans  &trans  &trans  &trans  &trans  &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
            >;
        };
    };
};
